.widget-bmi {
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  padding: 2%;
  border-radius: 10px;
  background: #DCEAF4;
  
  font-family: Times;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.widget-bmi.content {
  width: 460px;
}

.widget-bmi.sidebar {
  width: 160px !important;
}

.widget-bmi.sidebar span.b-bmi-field {
  clear: both;
  display: block;
  width: 97% !important;
  line-height: 24px;
}

.widget-bmi.content span.b-bmi-field {
  float:left;
  line-height: 32px;
  margin-right: 10px;
}

.widget-bmi.sidebar input.bmi-field {
  float: right;
}

.widget-bmi.sidebar .bmicalc-btn {
  display: block !important;
  margin: 10px auto;
}
.widget-bmi.content .bmicalc-btn {
  display: inline;
}
.widget-bmi .bmi-field {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 2px;
  line-height: 16px;
  width: 4em;
}

.widget-bmi .b-bmi-field {
  text-align: center;
}

.widget-bmi .bmi-btn {
  display: block;
  padding: 5px 14px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));

  background-image: -webkit-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-repeat: no-repeat;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  font-size: 13px;
  line-height: normal;
  cursor: pointer;

  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  border-bottom-color: #bbb;
    clear: both;
}

.widget-bmi .bmi-btn-style {
  border-color: #5493a4 #5493a4 hsl(193, 32%, 41.5%);
  background-color: hsl(193, 32%, 49%) !important;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b8d3da), to(#5493a4));

  background-image: -webkit-linear-gradient(top, #b8d3da, #5493a4);
  background-image: -moz-linear-gradient(top, #b8d3da, #5493a4);
  background-image: -o-linear-gradient(top, #b8d3da, #5493a4);
  background-image: -ms-linear-gradient(top, #b8d3da, #5493a4);
  background-image: linear-gradient(top, #b8d3da, #5493a4);
  -image background-repeat: repeat-x;
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8d3da", endColorstr="#5493a4");
  -webkit-font-smoothing: antialiased;
}

.widget-bmi .bmi-btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

.widget-bmi .bmicalc-conclusion {
  display: none;
  color: #454545;
}

.widget-bmi .bmicalc-result {
  color: #000;
  font-size: 20px;
}

.widget-bmi .bmicalc-range {
  color: #F00;
  font-size: 20px;
}
